
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-12 mt-14">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      
          <div class="md:max-w-none">
            <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h2>
  
            <p class="mt-4 text-gray-700">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
              architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
              sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit amet nisi recusandae 
              itaque molestiae.
            
            </p>
       
        </div>
  
        <div>
          <img
            src="{%  static 'images/banner.png' %}"
            class="rounded"
            alt=""
          />
        </div>
      </div></div>
<span class="flex items-center">
  <span class="h-px flex-1 bg-black"></span>
  <span class="pl-6">Lorem, ipsum dolor</span>
</span>

{% endblock %}