{% extends "base.html" %}

{% block content %}
<div class="bg-white shadow-md rounded-lg p-6 max-w-5xl w-full mx-auto">
    <div class="relative mb-8 md:mb-0 md:mr-12">
        <img src="{{ user.profile_image.url }}" alt="Profile Picture" class="w-32 h-32 md:w-48 md:h-48 rounded-full object-cover transition duration-300 ease-in-out hover:opacity-80 focus:opacity-80 cursor-pointer" 
        style="margin-left: auto; margin-right: auto;"/>
        <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-0 rounded-full transition duration-300 ease-in-out hover:bg-opacity-20 focus:bg-opacity-20 cursor-pointer"></div>
      </div>

    <h1 class="text-2xl font-bold text-gray-900 mb-4 text-center">Bienvenido, <span class="text-green-600">{{ user.username }}</span></h1>

    <div class="mb-6">
        <p class="text-gray-700 text-center"><strong>Nombre completo:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p class="text-gray-700 text-center"><strong>Email:</strong> {{ user.email }}</p>
        <p class="text-gray-700 text-center"><strong>Fecha de registro:</strong> {{ user.date_joined|date:"d M Y" }}</p>
    </div>

    <div class="flex justify-between">
        <a href="/" class="text-sm text-gray-600 underline hover:text-gray-800">Volver a inicio</a>
        <a href="{% url 'logout' %}" class="text-sm text-red-600 underline hover:text-red-800">Salir</a>
    </div>
</div>

{% endblock %}
